.image-proc {
    padding: var(--safe-sapce-large);
    white-space: nowrap;
}

.image-proc .processing-settings .label{
     margin-top: var(--safe-sapce-large);
}
.image-proc .processing-settings .label:first-child {
    margin-top: 0;
}
.image-proc .processing-settings .label label{
   white-space: normal
}


.image-proc .palette-view{
    white-space: normal;
    margin-top: var(--safe-sapce-min);
}

.image-proc .image-wrapper {
    display: inline-block;
    position: relative;
    width: 256px;
    height: 256px;
    margin: var(--safe-sapce-large);
    vertical-align: top;
}

.image-proc .image {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: contain;
    /* background-color: #cccccc; */
    background: repeating-conic-gradient(#e1e1e1 0% 25%, transparent 0% 50%) 50% / 20px 20px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.image-proc .processing-settings {
    display: inline-block;
    width: 256px;
    /* height: 256px; */
    margin: var(--safe-sapce-large);
}

.processing-settings button{
    width: 100%;
}

.processing-settings select{
    width: 100%;
}

.processing-settings .created-by{
    text-align: center;
    margin-top: var(--safe-sapce-large);
}