body {      
  background-color: var(--color-layer-1);
  font-family: var(--font-family);
  font-size: var(--font-size-default); 
  color: var(--color-dark); 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;  
}